body {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 16px;
}

h1,
h2 {
  font-weight: 400;
}

p {
  text-align: right;
}

ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

li {
  list-style: none;
}

.weather-app-container {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid black;
}

.forecast-container {
  margin: 25px 0 0;
}

.forecast-container ul {
  text-align: center;
}

.current-temperature {
  margin-top: 15px;
}

.temperature {
  font-size: 74px;
  font-weight: 200;
  line-height: 1;
}

.degrees {
  position: relative;
  bottom: 40px;
}
