body {
  font-family: "Rubik", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.weather-app-container {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid black;
}

.forecast-container {
  margin: 20px 0;
}
